<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Charts - SB Admin</title>
      <link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <img src = "https://cdn.discordapp.com/attachments/789598759952711683/996792748071985183/AI_Camp_Original_Logo.png" width = "50px" align = "right" style="position: relative; top: 65px; right: 5px">
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="#" onclick="return false;">Python-Enjoyers</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar-->
        </nav>
        <div id="layoutSidenav">
           <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="index">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" href="charts">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="machineLearning">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-computer"></i></div>
                                Machine Learning
                            </a>
                          <a class="nav-link" href="About-us">
                                <div class="sb-nav-link-icon"><i class="fa-solid fa-address-book"></i></div>
                                About Us
                           </a>
                       </div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4" style="font-size: 45px"> Machine Learning</h1>
                      <div class = "card mb-4" style = "margin: 10px">
                        <div class = "card-header">
                          <h2> K-Nearest Neighbor</h2>
                        </div>
                          <div class="card-body">
                            <p style = "margin-left: 5px; margin-right: 20px; width: 995px"> A K-Nearest Neighbor or KNN model works by finding the distance between the datapoint to be classified and some k number of example datapoints. It then uses majority rules to determine the classification of the query. <br><br> We used this model as a sort of default model to start the modeling process. As for all the models, we split the data, then initialized it with the optimized parameters estimated by GridSearchCV. The model had an accuracy of about 60%. The low accuracy of this model makes sense given the visualizations we made, because there was no clear distinction between potable and non-potable data-points in regards to where they were on a graph. </p>    
                            <img src = "https://cdn.analyticsvidhya.com/wp-content/uploads/2018/03/knn3.png" width = 400px>
                        </div>
                    </div>
                          <div class="card mb-4" style = "margin: 10px">
                            <div class="card-header">
                               <h2>Decision Tree Classifier</h2>
                            </div>
                            <div class = "card-body">
                              <p style = "margin-left: 5px; margin-right: 20px; width: 995px;">
                               A Decision Tree Classifier uses conditions, represented by internal nodes, and leaf nodes which represent the output based on these conditions. Depending on its depth, the query data point will iterate through many conditions before being classified finally. <br><br> We chose this model in consideration of a parallel coordinates plot we made, which showed that potability was more likely given certain ranges for different columns. This model had a slightly improved accuracy from the KNN model; around 66%. 
                              </p>
                              <img src = "https://static.javatpoint.com/tutorial/machine-learning/images/decision-tree-classification-algorithm.png" width = 500x>
                            </div>
                          </div>
                                <div class="card mb-4" style = "margin: 10px">
                                    <div class="card-header">
                                       <h2>Random Forest Classifier Explanation</h2>
                                    </div>
                                    <div class="card-body">
                                      <p style = "margin-left: 5px; margin-right: 20px; width: 1005px;">
                                      The Random Forest Classifier is basically an extended version of the Decision Tree Classifier, requiring the same input. It utilizes multiple Decision Trees (hence, a forest) for each subset in the data, while using averaging to improve the predictive accuracy and to combat over-fitting. <br><br> In the end, the Random Forest Classifier had a accuracy of roughly 70%, our most accurate model so far.
                </p>
                                    <img src = "https://upload.wikimedia.org/wikipedia/commons/7/76/Random_forest_diagram_complete.png" width = 550px>
                                  </div>
                                </div>
                            </div>
                              </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename = 'js/scripts.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{{url_for('static',filename = 'assets/demo/chart-area-demo.js')}}"></script>
        <script src="{{url_for('static', filename = 'assets/demo/chart-bar-demo.js')}}"></script>
        <script src="{{url_for('static',filename='assets/demo/chart-pie-demo.js')}}"></script>
    </body>
</html>
